body{
    background-color:white;
}

h1{
    color:red;
    font-size: 40px;
}
p{
    font-size: 30px;
}

li{
font-size: 30px;
}

imput{
color: black;
font-size:30px;
}

title{
    font-size: 50px;
}
